.footer{
    background-color: rgb(36, 36, 36);
    color: white;
    margin-top: 40px;
    padding: 40px;

    p{
        font-size: 17px;
        text-align: center;

        a{
            color: white;
            text-decoration: none;
            transition: all 0.3s;
            &:hover{
                color: goldenrod;
            }
        }
    }
}